@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
}

#page {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("./assets/antelopeCanyon.jpg");
    background-size: cover;
    background-position: center;
}

#countDownTimerAndTitle {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    gap: 10px;
    width: 96%;
}

#pageTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
}

#timerInput {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#hourAmount, #secondAmount, #minuteAmount {
    height: 40px;
    font-size: 40px;
    border: none;
    margin-top: 3px;
    background-color: transparent;
    font-family: "Fredoka", sans-serif;
    text-align: center;
}

#hourAmount {
    width: 55px;
}

#minuteAmount {
    width: 65px;
}

#secondAmount {
    width: 48px;
}

#timerInput > div {
    display: flex;
    font-size: 40px;
}

#allButtons {
    display: flex;
}

#startButton {
    font-size: 20px;
    border-radius: 20px;
    margin-left: 10px;
    border: none;
    background-color: purple;
    color: white;
    font-family: "Fredoka", sans-serif;
    text-align: center;
}

#startButton {
    width: 80px;
}

#pauseButton, #resetButton {
    display: none;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    background-color: purple;
    color: white;
    width: 80px;
    font-family: "Fredoka", sans-serif;
}

#themeButtons {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 2vh;
}

#themeButtons > button > img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
}

#themeButtons > button {
    border-radius: 60px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}